In [1]:
import pandas as pd
from FileLoader import FileLoader

loader=FileLoader()
data=loader.load("athlete_events.csv")

Loading dataset of dimensions 271116 x 15

In [3]:
data.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN

In [11]:
df=data[data['Team']=='France'][['Year','Event','Medal']]

In [12]:
df.head(5)

     Year                                Event Medal
98   2012         Athletics Men's 1,500 metres   NaN
145  1976           Athletics Men's Pole Vault   NaN
149  1956  Cycling Men's Road Race, Individual   NaN
150  1956        Cycling Men's Road Race, Team  Gold
173  2008              Handball Men's Handball  Gold