In [1]:
import pandas as pd
from FileLoader import FileLoader

In [2]:
    loader = FileLoader()
    data = loader.load("athlete_events.csv")

Loading dataset of dimensions 271116 x 15

In [19]:
filtered_df=data[data['Name']=='Kjetil Andr Aamodt'][['Year','Medal']].copy()

In [20]:
filtered_df.head()

    Year   Medal
59  1992     NaN
60  1992    Gold
61  1992  Bronze
62  1992     NaN
63  1994  Silver

In [22]:
dict([1,2,3],[4,5,6])

TypeError: dict expected at most 1 argument, got 2