In [1]:
from FileLoader import FileLoader
import pandas as pd

In [2]:
loader = FileLoader()
data = loader.load("athlete_events.csv")

Loading dataset of dimensions 271116 x 15

In [26]:
filtered_df=data[(data['Year']==2004) & (data['Sex']=='F')].copy().drop_duplicates(subset="Name",keep='first')

In [27]:
filtered_df.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
135,49,Moonika Aava,F,24.0,168.0,65.0,Estonia,EST,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's Javelin Throw,NaN
195,90,Tamila Rashidovna Abasova,F,21.0,163.0,60.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Cycling,Cycling Women's Sprint,Silver

In [28]:
filtered_df['Participant']=1

In [29]:
grouped_df=filtered_df.groupby("Sport").sum()

In [30]:
grouped_df.loc["Basketball"]["Participant"]

143.0

In [31]:
percentage=grouped_df.loc["Tennis"]["Participant"]/sum(grouped_df["Participant"])

In [32]:
percentage

0.01935634328358209